<div class="container">
  <div class="d-flex" id="clock">
    <div class="border-0">
      <!-- <h3>{{addZero(this.hours.toString())}}</h3> -->
      <h3 id="hours"></h3>
    </div>
    <h3>:</h3>
    <div class="border-0">
      <!--<h3>{{addZero(this.minutes.toString())}}</h3>-->
      <h3 id="minutes"></h3>
    </div>
    <h3>:</h3>
    <div class="border-0" >
      <!--<h3>{{addZero(this.seconds.toString())}}</h3>-->
      <h3 id="seconds"></h3>
    </div>
    <div class="border-0" >
      <h3 id="meridiem"></h3>
    </div>
  </div>
</div>
